    h1{
            text-decoration: overline;
        }

        h2{
            text-decoration: line-through;
            text-decoration-color: blue;
        }

        h3{
            text-decoration:underline 3px dashed blueviolet;
           
            
        }

        #p1{
            text-decoration: overline underline;
            text-decoration-color: purple;
        }

        #double{
            text-decoration: underline;
            text-decoration-style: double;
        }

        #dashed{
            text-decoration: line-through;
            text-decoration-style: dashed;
        }

        #dotted{
            text-decoration:overline;
            text-decoration-style:dotted;
        }

        #wavy{
            color: rgb(149, 149, 245);
            text-decoration:overline underline line-through;
            text-decoration-style: wavy;
            text-decoration-color: pink;
        }

        #length{
            text-decoration:underline;
            text-decoration-thickness: 2.5px;
        }

        #percentage{
            text-decoration:underline;
            text-decoration-thickness: 150%;
        }
        
        p.uppercase{
            text-transform:uppercase;
        }

        p.lowercase{
            text-transform:lowercase;
        }

        p.capitalize{
            text-transform:capitalize;
        }

        #indent{
            text-indent: 50px;
        }

        #letter{
            letter-spacing: 4px;
        }

        #line{
            text-decoration:underline;
            line-height: 100px;
        }

        #word{
            word-spacing:  20px;
        }

        #h1{
            color: red;
            text-shadow: 2px 2px 5px;
        }

        #h2{
            color: orange;
            text-shadow: 2px 2px 5px;
        }

        #h3{
            color:blue;
            text-shadow: 2px 2px 5px;
        }

        #h4{
            color:greenyellow;
            text-shadow: 2px 2px 5px;
        }

        #h5{
            color:aquamarine;
            text-shadow: 2px 2px 5px;
        }

                ol {
            background-color: rgb(244, 229, 219);
            padding: 9px;
        }

        ul {
            background-color: aqua;
            padding: 9px;
        }

        li {
            background-color: yellow;
        }

        ol li {
            list-style-position: inside;
        }

        div{
            border: 2px solid blue;
            width: fit-content;
        }

        